@import "tailwindcss";
.fading-border {
    border-bottom-color: var(--color-accent);
    /*border-color: rgba(128, 128, 128, 0.18);*/
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    /*border-bottom-width: 1px;*/
    border-right: none; /* optional if you want the fade only */
    /*-webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);*/
    mask-image: linear-gradient(to right, gray 60%, transparent 100%);
}

body {
    font-family: 'Lekton', cursive !important;
}

.typewriter {
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 1rem;
}

.cursor {
    display: inline-block;
    width: 1px;
    background-color: var(--color-accent);
    margin-left: 4px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}


{
color: rgba(0, 0, 0, 0.7)
;
}



.profile-card {
    position: relative;
    z-index: 10; /* higher than background elements */
    border-radius: 10px;
}

/*.profile-card::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 150%;*/
/*    height: 100%;*/
/*    background: var(--color-accent);*/
/*    z-index: -1;*/
/*}*/

.profile-details::after {
    position: absolute;
    content: "";
    background-color: var(--color-bg);
    left: 50%;
    top: -95px;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    -webkit-transition: none;
    border-radius: 60% 60% 0 0;
}



/* Smooth general transition helper */
.smooth-transition {
    transition: all 0.3s ease-in-out;
}
