@import "tailwindcss";

[data-theme="light"] {
    --color-bg: #222;
    --color-accent: #f6b846;
}

/* Deep Blue */
[data-theme="blue"] {
    --color-bg: #091b1c;
    --color-accent: #96bae8;
}

/* Emerald Green */
[data-theme="green"] {
    --color-bg: #061c17;
    --color-accent: #1aa164;
}

/* Sunset Orange */
[data-theme="orange"] {
    --color-bg: #1f1915;
    --color-accent: #f37c56;
}



/* Amber Gold */
[data-theme="amber"] {
    --color-bg: #1e1e15;
    --color-accent: #ecbb4f;
}

/* Teal Mist */
[data-theme="teal"] {
    --color-bg: #0c2323;
    --color-accent: #14b8a6;
}

